@using Homework3.Models.ViewModels
@model EditStudentVM

<div>
    @Html.HiddenFor(m => m.Id)

    <div>
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
    </div>

    <div>
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
    </div>

    <div>
        @Html.LabelFor(m => m.DateOfBirth)
        @Html.TextBoxFor(m => m.DateOfBirth, new { type = "date" })
    </div>

    <div>
        @Html.LabelFor(m => m.ActiveCourseId)
        @Html.DropDownListFor(m => m.ActiveCourseId,
        new SelectList(Model.Courses, "Id", "Name"),
                "Select Course")
    </div>
</div>

